.services {
  width: 100%;
  padding: 96px 100px;
  background: #faf4f4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
  align-items: flex-start;
}

.services .service {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.services .service h2 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  color: #000000;
}

.services .service p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #9f9f9f;
}
