.billing {
  width: 100%;
  padding: 63px 100px 52px;
}

.billing form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 26px;
}

/* details inputs start */

.billing .details-inputs {
  padding: 35px 70px 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.billing .details-inputs h1 {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  text-align: left;
  color: #000000;
}

.billing .details-inputs .form-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.billing .details-inputs .form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.billing .details-inputs .form-group label {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.billing .details-inputs .form-group input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #9f9f9f;

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
  transition: all 0.3s ease;
  outline: none;
}

.billing .details-inputs .form-group input::placeholder {
  color: #9f9f9f;
}

.billing .details-inputs textarea {
  width: 100%;
  height: 100px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #9f9f9f;

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
  transition: all 0.3s ease;
  outline: none;
  resize: none;
}

.billing .details-inputs textarea::placeholder {
  color: #9f9f9f;
}

/* details inputs end */

/* payment way start */

.payment-way {
  width: 100%;
  padding: 87px 37px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.payment-way ul {
  padding-bottom: 33px;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #d9d9d9;
}

.payment-way ul li {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.payment-way ul li.product span {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  color: #000000;
}

.payment-way ul li.item {
  margin-top: 14px;
}

.payment-way ul li.item span {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.payment-way ul li.item span:first-child {
  color: #9f9f9f;
  font-weight: 400;
}

.payment-way ul li.subtotal {
  margin-top: 22px;
}

.payment-way ul li.subtotal span {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.payment-way ul li.subtotal span:first-child {
  font-weight: 400;
}

.payment-way ul li.total {
  margin-top: 22px;
}

.payment-way ul li.total span:first-child {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.payment-way ul li.total span:last-child {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: #b88e2f;
}

.payment-way .form-group {
  margin-top: 22px;
  width: 100%;
}

.payment-way .form-group label {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.payment-way .form-group label input {
  display: none;
}

.payment-way .form-group label span {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #9f9f9f;
  background: none;
  transition: all 0.3s ease;
}

.payment-way .form-group label input:checked + span {
  border: 1px solid #000;
  background: #000;
}

.payment-way .form-group label p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000;
}

.payment-way .form-group > p {
  margin-top: 11px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: justified;
  color: #9f9f9f;
}

.payment-way > p {
  margin-top: 22px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: justified;
  color: #000000;
}

.payment-way > button {
  margin-top: 40px;
  padding: 17px 20px;
  border: 1px solid #000000;
  border-radius: 15px;
  background: none;

  align-self: center;
  min-width: 60%;

  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* payment way end */
